<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Site Collection</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar', {page: '/'}) %>
      <div class="container mx-auto p-4">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold"><%= site.site %></h1>
                    <p class="py-6"><%= site.description %></p>
                </div>
            </div>
        </div>

        <br>

        <!-- Grid Layout for Image and Description -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Image Section -->
            <div>
                <img class="w-full rounded-lg" src="<%= site.image %>" alt="<%= site.name %>">
            </div>

            <!-- Information Section -->
            <div class="prose">
                <p>
                    <span class="font-bold">Site Name: </span> <%= site.site %> <br>
                    <span class="font-bold">Description: </span> <%= site.description %> <br>
                    <span class="font-bold">Date: </span> <%= site.date %> <br>
                    <span class="font-bold">Location: </span> <%= site.location %><br>
                    <span class="font-bold">Region: </span> <%= site.region %> <br>
                    <span class="font-bold">Geolocation: </span> <%= site.geolocation %><br>
                    <span class="font-bold">Designated: </span> <%= site.designated %> <br><br><br>

                    <!-- Placeholder for Quotes -->
                    <span id="quote"><%= site.quote %></span>
                </p>

                <!-- Back Button -->
                <a class="btn btn-primary btn-sm" href="/sites">RETURN</a>
                <% if(session.user){ %>
                <a href="/editSite/<%= site.siteId %>" class="btn btn-secondary btn-sm">
                    Edit <%= site.site %>
                  </a>
                <%}%>
            </div>
        </div>

    </div>
</body>
